<section>
  <div class="mx-auto max-w-7xl px-8 py-12 lg:pt-24">
    <div class="mx-auto max-w-xl">
      <div>
        <div class="md:flex md:items-center md:justify-between md:space-x-5">
          <div class="flex items-center space-x-5">
            <div class="flex-shrink-0">
              <div class="relative">
                <img
                  class="h-30 w-30 lg:h-24 lg:w-24 rounded-full border border-white/10"
                  src="/images/avatar.svg"
                  alt="image"
                />
                <span
                  class="absolute inset-0 rounded-full shadow-inner"
                  aria-hidden="true"></span>
              </div>
            </div>

            <div class="pt-1.5">
              <h1 class="lg:text-xl text-black dark:text-white">
                Rahmat Hidayat
              </h1>
              <p class="mt-0">
                <a
                  class="text-xs underline hover:no-underline duration-200 dark:text-white"
                  href="https://twitter.com/zhorahmat">@zhorahmat</a
                >
              </p>
              <p class="text-sm font-light text-neutral-500">
                A Problem Solving Kid
              </p>
            </div>
          </div>
        </div>
        <div class="lg:text-xl font-light mt-10">
          <div class="text-neutral-500 dark:text-neutral-200 space-y-3 mt-3">
            Hi, my name is <span class="inline dark:text-orange-500">Zho</span>
          </div>
        </div>
        <div class="mt-0 text-sm font-light">
          <!-- <p class="text-black dark:text-white">About</p> -->
          <div class="text-neutral-500 dark:text-neutral-300 space-y-3 mt-3">
            <p>
              I am a <span class="inline dark:text-orange-400">(Fullstack)</span> Software Engineer that focuses on creating value to the users.
            </p>
            <p>
              Love writing my journey in <a href="https://blog.rahmathidayat.my.id" class="underline hover:no-underline dark:text-orange-400">my blog</a>
              and sharing in <a href="" class="underline hover:no-underline dark:text-orange-400">my channel</a> on youtube
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
